<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/pluralize@8.0.0/pluralize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Languages</title>
</head>

<body>
    <div class="container">
        <div>
            <h1 class="display-2">Language statistics for <%= countryName %> </h1>
            <p class="lead">Main languages:
                <%= languages.filter( language => language.IsOfficial == "T" ).map( language => language.Language ).join(", ") %>
            </p>
        
        </div>
        <br>

        <div class="row">
            <div class="col">
                <canvas id="data-display"></canvas>
            </div>

            <div class="col">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Language</th>
                            <th scope="col">Percentage</th>
                        </tr>
                    </thead>

                    <% languages.forEach(language => { %>
                    <tr>
                        <td><%= language.Language %></th>
                        <td><%= language.Percentage %></th>
                    </tr>
                    <% }) %>
                </table>
            </div>
        </div>

        <br>
        <div class="row text-center">
            <small>Any statistics inaccuracies are due to the dataset that has been provided for me to work with.</small>
            <small>Silly goofiness can happen, like percentages not summing up to 100% or straight out missing.</small>
            <small>Do not quote this website as a source.</small>
        </div>

    </div>

    <span id="json" hidden><%= JSON.stringify(languages) %> </span>

    <script>
        var ctx = document.getElementById('data-display').getContext('2d');

        var percentages = [];
        var languages = JSON.parse($('#json').text());
        $('#json').remove();

        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: languages.map(language => language.Percentage),
                    backgroundColor: randomColor({
                        count: languages.length
                    })
                }],

                labels: languages.map(language => language.Language)

            }
        })


    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>